body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(238, 174, 203);
    background: radial-gradient(circle, rgba(238, 174, 203, 1) 0%, rgba(148, 233, 226, 1) 100%);
}

#store-container {
    display: flex;
    gap: 10px;
    margin-left: 1%;
}

.store-container2 {
    display: flex;
    gap: 45px;
    margin-left: 1%;
    /* padding: 13px; */
}

#store-container .item {
    border: solid 1px rgb(0, 0, 0);
    padding: 20px;
}

#shopping-cart-container {
    position: absolute;
    right: 0;
    width: 300px;
    border: solid 1px #ccc;
    padding: 10px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.item .title {
    font-weight: bold;
}

.item .price {
    color: green;
    font-weight: bold;
}

.item div {
    padding: 5px 0;
}

.total {
    padding: 10px 0;
    font-weight: bold;
    font-size: 20px;
}

.buttonA {
    border: none;
    background-color: rgb(53, 216, 31);
    padding: 5px 10px;
    border-radius: 5px;
}

.buttonB {
    border: none;
    background-color: rgb(31, 62, 216);
    padding: 5px 10px;
    border-radius: 5px;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
}

.titulo {
    color: rgb(226, 104, 43);
    margin-left: 30%;
}

.subtitulo {
    color: blueviolet;
    margin-left: 30%;
}